.sb-search {
	transition:width 0.3s; width: 0%; height: 60px; overflow: hidden; float: right; position: relative; min-width: 60px; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; -webkit-backface-visibility: hidden;
}
.sb-search-input {
	background: rgb(255, 255, 255); margin: 0px; padding: 20px 65px 20px 20px; border: currentColor; border-image: none; top: 0px; width: 100%; height: 60px; right: 0px; color: rgb(44, 62, 80); font-family: inherit; font-size: 20px; position: absolute; z-index: 10;
}
:-ms-input-placeholder.sb-search-input {
	color: rgb(193, 193, 193);
}
.sb-icon-search {
	margin: 0px; padding: 0px; top: 0px; width: 60px; height: 60px; text-align: center; right: 0px; line-height: 60px; display: block; position: absolute; cursor: pointer;
}
.sb-search-submit {
	margin: 0px; padding: 0px; top: 0px; width: 60px; height: 60px; text-align: center; right: 0px; line-height: 60px; display: block; position: absolute; cursor: pointer;
}
.sb-search-submit {
	background: rgb(255, 255, 255); border: currentColor; border-image: none; color: transparent; z-index: -1; opacity: 0;
}
.sb-icon-search {
	background: rgb(230, 126, 34); color: rgb(255, 255, 255); font-size: 22px; z-index: 90;
}
.sb-search.sb-search-open {
	width: 100%;
}
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search {
	background: rgb(218, 109, 13); color: rgb(255, 255, 255); z-index: 11;
}
.no-js .sb-search .sb-icon-search {
	background: rgb(218, 109, 13); color: rgb(255, 255, 255); z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit {
	z-index: 90;
}
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
